# Fichiers temporaires
*.log
*.cache
*.tmp
/temp

# Fichiers système
.DS_Store
Thumbs.db

# Dossiers IDE
.idea/
.vscode/

# config
/config/config.production.php
/config/config.mail.development.php
/config/config.mail.production.php