# Fichiers temporaires
*.log
*.cache
*.tmp
/temp

# Fichiers système
.DS_Store
Thumbs.db

# Dossiers IDE
.idea/
.vscode/

# Config
/config/config.php

# Autre
info.txt

# config
/config/config.production.php